<h1>Mycontact</h1>
<p>You can find me on socia websites,
<h3 ><a href="www.facebook.com/maximo.mugisha" class="btn btn-info" role="button" style="float: right">Facebook</a></h3>
<h4 ><a href="www.twitter.com/maximo.mugisha" class="btn btn-info" role="button" style="float: left">Twitter</a></h4>
<p>
<h5 ><a href="www.linkedin.com/maximo.mugisha" class="btn btn-info" role="button" style="float: center">LinkedIn</a></h5>
</p>
or with my Phone numbers
0775097505 , 0757930924 , 0790229819</p>
